@media(min-width: 1200px) {
	html {
		padding-left: 310px;
		padding-right: 10px;
	}
	.nav-wrapper {
		color: #fff;
		background-color: #29b6f6 !important;
		width: 100%;
		height: 64px;
		line-height: 64px;
	}
}

@media(min-width: 992px){
	html {
		padding-left: 310px;
		padding-right: 10px;
	}
	.nav-wrapper {
		color: #fff;
		background-color: #29b6f6 !important;
		width: 100%;
		height: 64px;
		line-height: 64px;
	}
}

nav .brand-logo {
	text-align: center;
	margin-top: 32px;
	margin-bottom: 80px;
}

#content {
	#gameBoard {
		border-spacing: 3px;
		border-collapse: separate;
		tbody > tr > td {
			background-color: #ADD8E6;
			height: 80px;
			width: 50px;

			.has-unit {
			    background-color: none;
			    background-repeat: no-repeat;
			    background-size: contain;
			}

			.has-1 { background-image: url(app/img/1.png); }
			.has-2 { background-image: url(app/img/2.png); }
			.has-3 { background-image: url(app/img/3.png); }
			.has-4 { background-image: url(app/img/4.png); }
			.has-5 { background-image: url(app/img/5.png); }
			.has-6 { background-image: url(app/img/6.png); }
			.has-7 { background-image: url(app/img/7.png); }
			.has-8 { background-image: url(app/img/8.png); }
			.has-9 { background-image: url(app/img/8.png); }
			.has-B { background-image: url(app/img/B.png); }
			.has-F { background-image: url(app/img/F.png); }
			.has-O { background-image: url(app/img/O.png); }
			.has-S { background-image: url(app/img/S.png); }
		}
		tbody > tr > td.isDisabled {
			background-color: #67818a;
			cursor: not-allowed;
		}
	}
	span.right {
		float: right;
	}
	.message {
		margin: 10px 0px;
		padding: 12px;
	}
	.isInfo {
		color: #00529B;
		background-color: #BDE5F8;
	}
	.isSuccess {
		color: #4F8A10;
		background-color: #DFF2BF;
	}
	.isWarning {
		color: #9F6000;
		background-color: #FEEFB3;
	}
	.isError {
		color: #D8000C;
		background-color: #FFBABA;
	}
}
