@media(min-width: 1200px) {
	html {
		padding-left: 310px;
		padding-right: 10px;
	}
	.nav-wrapper {
		color: #fff;
		background-color: #29b6f6 !important;
		width: 100%;
		height: 64px;
		line-height: 64px;
	}
}

@media(min-width: 992px){
	html {
		padding-left: 310px;
		padding-right: 10px;
	}
	.nav-wrapper {
		color: #fff;
		background-color: #29b6f6 !important;
		width: 100%;
		height: 64px;
		line-height: 64px;
	}
}

nav .brand-logo {
	text-align: center;
	margin-top: 32px;
	margin-bottom: 80px;
}

#content {
	span.right {
		float: right;
	}
	.message {
		margin: 10px 0px;
		padding: 12px;
	}
	.isInfo {
		color: #00529B;
		background-color: #BDE5F8;
	}
	.isSuccess {
		color: #4F8A10;
		background-color: #DFF2BF;
	}
	.isWarning {
		color: #9F6000;
		background-color: #FEEFB3;
	}
	.isError {
		color: #D8000C;
		background-color: #FFBABA;
	}
}